services:
  app:
    build:
      context: ./app
    container_name: app
    restart: always
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    read_only: true
    security_opt:
      - no-new-privileges:true
    networks:
      - app_net

  db:
    image: postgres:17
    container_name: db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    security_opt:
      - no-new-privileges:true
    networks:
      - app_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  prometheus:
    image: prom/prometheus:v3.5.1
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.external-url=https://kihon.online/prometheus/'
      - '--web.route-prefix=/'
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "127.0.0.1:9090:9090"
    restart: always
    networks:
      - app_net

  grafana:
    image: grafana/grafana:12.2.0-ubuntu
    container_name: grafana
    restart: always
    environment:
      - GF_SERVER_ROOT_URL=https://grafana.kihon.online
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - app_net

  node_exporter:
    image: prom/node-exporter:v1.10.2
    container_name: node_exporter
    restart: always
    command:
      - '--path.rootfs=/host'
    network_mode: host
    pid: host
    volumes:
      - '/:/host:ro,rslave'
    ports:
      - "127.0.0.1:9100:9100"

volumes:
  db_data:
  grafana_data:

networks:
  app_net:
    driver: bridge
